In [96]:
from math import floor
import pandas as pd
import datetime
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [97]:
df = pd.read_csv("data/Divvy_Trips_2022_full.csv.gz", compression="gzip")

# Общая информация о датасете

In [98]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C2F7DD78E82EC875,electric_bike,2022-01-13 11:59:47,2022-01-13 12:02:44,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.012560,-87.674367,casual
1,A6CF8980A652D272,electric_bike,2022-01-10 08:41:56,2022-01-10 08:46:17,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665967,42.012560,-87.674367,casual
2,BD0F91DFF741C66D,classic_bike,2022-01-25 04:53:40,2022-01-25 04:58:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800,member
3,CBB80ED419105406,classic_bike,2022-01-04 00:18:04,2022-01-04 00:33:00,Clark St & Bryn Mawr Ave,KA1504000151,Paulina St & Montrose Ave,TA1309000021,41.983593,-87.669154,41.961507,-87.671387,casual
4,DDC963BFDDA51EEA,classic_bike,2022-01-20 01:31:10,2022-01-20 01:37:12,Michigan Ave & Jackson Blvd,TA1309000002,State St & Randolph St,TA1305000029,41.877850,-87.624080,41.884621,-87.627834,member

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5667717 entries, 0 to 5667716
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 562.1+ MB

In [100]:
grouped_by_bike_2022 = df[["start_station_name", "started_at", "member_casual"]]
grouped_by_bike_2022 = grouped_by_bike_2022.rename(columns = {"start_station_name": "count", "started_at" : "start_time"})

In [101]:
df_2 = pd.read_csv("data/Divvy_Trips_2021_full.csv.gz", compression="gzip")

grouped_by_bike_2021 = df_2[["start_station_name", "started_at", "member_casual"]]
grouped_by_bike_2021 = grouped_by_bike_2021.rename(columns = {"start_station_name": "count", "started_at" : "start_time"})

In [102]:
df_2 = pd.read_csv("data/Divvy_Trips_2020_full.csv.gz", compression="gzip")

grouped_by_bike_2020 = df_2[["start_station_name", "started_at", "member_casual"]]
grouped_by_bike_2020 = grouped_by_bike_2020.rename(columns = {"start_station_name": "count", "started_at" : "start_time"})

In [103]:
df_2 = pd.read_csv("data/2019/Divvy_Trips_2019_full.csv.gz", compression="gzip")

grouped_by_bike_2019 = df_2[["from_station_name", "start_time", "usertype"]]
grouped_by_bike_2019 = grouped_by_bike_2019.rename(columns = {"from_station_name": "count", "usertype": "member_casual"})

In [104]:
df_2 = pd.read_csv("data/2018/Divvy_Trips_2018_full.csv.gz", compression="gzip")

grouped_by_bike_2018 = df_2[["03 - Rental Start Station Name", "01 - Rental Details Local Start Time", "User Type"]]
grouped_by_bike_2018 = grouped_by_bike_2018.rename(columns = {"03 - Rental Start Station Name": "count",
                                      "01 - Rental Details Local Start Time": "start_time", 
                                      "User Type": "member_casual"})

In [105]:
df_2 = pd.read_csv("data/2017/Divvy_Trips_2017_full.csv.gz", compression="gzip")

grouped_by_bike_2017 = df_2[["from_station_name", "start_time", "usertype"]]
grouped_by_bike_2017 = grouped_by_bike_2017.rename(columns = {"from_station_name": "count", "usertype": "member_casual"})

In [106]:
df_2 = pd.read_csv("data/2016/Divvy_Trips_2016_full.csv.gz", compression="gzip")

grouped_by_bike_2016 = df_2[["from_station_name", "starttime", "usertype"]]
grouped_by_bike_2016 = grouped_by_bike_2016.rename(columns = {"from_station_name": "count","starttime": "start_time", "usertype": "member_casual"})

In [107]:
df_2 = pd.read_csv("data/2015/Divvy_Trips_2015_full.csv.gz", compression="gzip")

grouped_by_bike_2015 = df_2[["from_station_name", "starttime", "usertype"]]
grouped_by_bike_2015 = grouped_by_bike_2015.rename(columns = {"from_station_name": "count","starttime": "start_time", "usertype": "member_casual"})

In [108]:
df_2 = pd.read_csv("data/2014/Divvy_Trips_2014_full.csv.gz", compression="gzip")

grouped_by_bike_2014 = df_2[["from_station_name", "starttime", "usertype"]]
grouped_by_bike_2014 = grouped_by_bike_2014.rename(columns = {"from_station_name": "count","starttime": "start_time", "usertype": "member_casual"})

In [109]:
df_2 = pd.read_csv("data/2013/Divvy_Trips_2013.csv")

grouped_by_bike_2013 = df_2[["from_station_name", "starttime", "usertype"]]
grouped_by_bike_2013 = grouped_by_bike_2013.rename(columns = {"from_station_name": "count","starttime": "start_time", "usertype": "member_casual"})

## Работа с данными

In [143]:
cost = 0

for year in range(2013, 2023):
    if year == 2013: station = grouped_by_bike_2013
    if year == 2014: station = grouped_by_bike_2014
    if year == 2015: station = grouped_by_bike_2015
    if year == 2016: station = grouped_by_bike_2016
    if year == 2017: station = grouped_by_bike_2017
    if year == 2018: station = grouped_by_bike_2018
    if year == 2019: 
        station = grouped_by_bike_2019
        station = station[((station['start_time'] >= f"{2019}-01-01") & (station['start_time'] < f"{2019 + 1}-01-01"))]  
    if year == 2020: station = grouped_by_bike_2020
    if year == 2021: station = grouped_by_bike_2021
    if year == 2022: station = grouped_by_bike_2022
    
    station["start_time"] = station["start_time"].astype('datetime64[D]')
    
    day = station.groupby(["start_time"]).count()
    day.rename(columns={"station_name":"count"}, inplace = True)
    
    sorted_day = day.sort_values(by='count', ascending = False)
    sorted_day.drop('member_casual', axis = 1, inplace = True)
    sorted_day.reset_index(["start_time"], inplace = True)
    
    max_day = sorted_day["start_time"].iloc[0]
    
    ride = station[(station['start_time'] >= max_day) & (station['start_time'] < max_day + datetime.timedelta(days = 1))]
    ride = ride.groupby(["start_time", "member_casual"]).count()
    ride = ride.reset_index(["start_time", "member_casual"])
    ride.rename(columns={"station_name":"count"}, inplace=True)
    
    
    # Подсчет кол-ва подписчиков за 2020 - 2023
    if 2020 <= year <= 2022:
        member = int(ride[ride["member_casual"] == "member"]["count"])
        casual = int(ride[ride["member_casual"] == "casual"]["count"])

        people = member // 2 + casual

        member = int(people * 0.74)
        casual = 0
    
    
    # Подсчет кол-ва подписчиков за 2013 - 2019
    if 2013 <= year <= 2019:
        member = int(ride[ride["member_casual"] == "Subscriber"]["count"])
        casual = int(ride[ride["member_casual"] == "Customer"]["count"])

        people = member // 2 + casual

        member = int(people * 0.74)
        casual = int(people * 0.26)
    
    print(year, int(member * 130.9 + casual * 16.5))
    cost = cost + int(member * 130.9 + casual * 16.5)

2013 920241
2014 1442962
2015 2178815
2016 1986078
2017 2041697
2018 500165
2019 529841
2020 2172285
2021 2680439
2022 2406334

In [ ]:
cost

In [142]:
station = grouped_by_bike_2019
station = station[((station['start_time'] >= f"{2014}-01-01") & (station['start_time'] < f"{2014 + 1}-01-01"))]  
grouped_by_bike_2019

,count,start_time,member_casual
0,Wabash Ave & Grand Ave,2019-01-01 00:04:37,Subscriber
1,State St & Randolph St,2019-01-01 00:08:13,Subscriber
2,Racine Ave & 18th St,2019-01-01 00:13:23,Subscriber
3,California Ave & Milwaukee Ave,2019-01-01 00:13:45,Subscriber
4,Mies van der Rohe Way & Chicago Ave,2019-01-01 00:14:52,Subscriber
...,...,...,...
4194078,Wells St & Concord Ln,10/1/2017 0:01,Subscriber
4194079,Michigan Ave & Congress Pkwy,10/1/2017 0:00,Customer
4194080,Greenview Ave & Jarvis Ave,10/1/2017 0:00,Customer
4194081,Larrabee St & Armitage Ave,10/1/2017 0:00,Subscriber
4194082,Halsted St & 21st St,10/1/2017 0:00,Subscriber

In [139]:
station["start_time"] = station["start_time"].astype('datetime64[D]')

day = station.groupby(["start_time"]).count()
day.rename(columns={"station_name":"count"}, inplace = True)

sorted_day = day.sort_values(by='count', ascending = False)
sorted_day.drop('member_casual', axis = 1, inplace = True)
sorted_day.reset_index(["start_time"], inplace = True)
sorted_day

# max_day = sorted_day["start_time"].iloc[0]

Empty DataFrame
Columns: [start_time, count]
Index: []