In [1]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [2]:
df_trips = pd.read_csv("data/Divvy_Trips_2022_full.csv.gz", compression="gzip")

# Общая информация о датасетах

In [3]:
df_trips.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C2F7DD78E82EC875,electric_bike,2022-01-13 11:59:47,2022-01-13 12:02:44,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.012560,-87.674367,casual
1,A6CF8980A652D272,electric_bike,2022-01-10 08:41:56,2022-01-10 08:46:17,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665967,42.012560,-87.674367,casual
2,BD0F91DFF741C66D,classic_bike,2022-01-25 04:53:40,2022-01-25 04:58:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800,member
3,CBB80ED419105406,classic_bike,2022-01-04 00:18:04,2022-01-04 00:33:00,Clark St & Bryn Mawr Ave,KA1504000151,Paulina St & Montrose Ave,TA1309000021,41.983593,-87.669154,41.961507,-87.671387,casual
4,DDC963BFDDA51EEA,classic_bike,2022-01-20 01:31:10,2022-01-20 01:37:12,Michigan Ave & Jackson Blvd,TA1309000002,State St & Randolph St,TA1305000029,41.877850,-87.624080,41.884621,-87.627834,member

In [4]:
df_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5667717 entries, 0 to 5667716
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 562.1+ MB

## Расчет доходов за 1 минуту поездки

In [5]:
# Из файла "full_price_calculation" получаем значение полных доходов за 2022 год

improve = 84571609

In [6]:
df_trips = df_trips[["started_at", "ended_at"]]
df_trips = df_trips.rename(columns={"ended_at": "end_time", "started_at": "start_time"})

In [7]:
df_trips["start_time"] = pd.to_datetime(df_trips["start_time"])
df_trips["end_time"] = pd.to_datetime(df_trips["end_time"])

In [8]:
df_trips["duration"] = df_trips["end_time"] - df_trips["start_time"]

In [9]:
df_trips = df_trips[df_trips["duration"] > "00:00:00"]

In [10]:
df_trips["duration"] = round(df_trips["duration"].dt.total_seconds(), 1)

In [11]:
df_trips

                 start_time            end_time  duration
0       2022-01-13 11:59:47 2022-01-13 12:02:44     177.0
1       2022-01-10 08:41:56 2022-01-10 08:46:17     261.0
2       2022-01-25 04:53:40 2022-01-25 04:58:01     261.0
3       2022-01-04 00:18:04 2022-01-04 00:33:00     896.0
4       2022-01-20 01:31:10 2022-01-20 01:37:12     362.0
...                     ...                 ...       ...
5667712 2022-12-05 06:51:04 2022-12-05 06:54:48     224.0
5667713 2022-12-14 17:06:28 2022-12-14 17:19:27     779.0
5667714 2022-12-08 16:27:47 2022-12-08 16:32:20     273.0
5667715 2022-12-28 09:37:38 2022-12-28 09:41:34     236.0
5667716 2022-12-09 00:27:25 2022-12-09 00:35:28     483.0

[5667186 rows x 3 columns]

In [12]:
sum_minute = df_trips["duration"].sum() / 60

In [13]:
cost_minute = improve / sum_minute
cost_minute

0.7673525281638448