In [26]:
import numpy as np
import pandas as pd

In [27]:
df = pd.read_csv("data/2023/Divvy_Trips_2023_full.csv.gz", compression="gzip")

# Общая информация о датасете

In [28]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 639424 entries, 0 to 639423
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             639424 non-null  object
 1   rideable_type       639424 non-null  object
 2   started_at          639424 non-null  object
 3   ended_at            639424 non-null  object
 4   start_station_name  551320 non-null  object
 5   start_station_id    551188 non-null  object
 6   end_station_name    546408 non-null  object
 7   end_station_id      546267 non-null  object
 8   start_lat           639424 non-null  float64
 9   start_lng           639424 non-null  float64
 10  end_lat             638998 non-null  float64
 11  end_lng             638998 non-null  float64
 12  member_casual       639424 non-null  object
dtypes: float64(4), object(9)
memory usage: 63.4+ MB

## Работа с данными

In [130]:
# Выбор нужных колонок датасета - координаты, название и id станций

# Данные начальных станций
station_names = df[["start_station_name"]]
station_names = station_names.rename(columns={"start_station_name": "station_name"})

# Данные конечных станций
station_end_names = df[["end_station_name"]]
station_end_names = station_end_names.rename(
    columns={"end_station_name": "station_name"}
)

In [131]:
# Склейка данных в 1 датасет
station_names = pd.concat([station_names, station_end_names])

In [132]:
station_names

                       station_name
0       Lincoln Ave & Fullerton Ave
1             Kimbark Ave & 53rd St
2            Western Ave & Lunt Ave
3             Kimbark Ave & 53rd St
4             Kimbark Ave & 53rd St
...                             ...
639419          Canal St & Adams St
639420      Sheridan Rd & Buena Ave
639421      Broadway & Waveland Ave
639422      Broadway & Waveland Ave
639423      Broadway & Waveland Ave

[1278848 rows x 1 columns]

## Подсчет популярности отдельных станций

In [133]:
# Расчитаем количество повторений каждой станции
popular_station = pd.DataFrame(station_names["station_name"].value_counts())

In [134]:
# Возвращаем индексы и переназываем столбцы
popular_station = popular_station.reset_index()
popular_station.columns = ['station_name', 'count']

popular_station

                                    station_name  count
0                       University Ave & 57th St  11816
1                            Ellis Ave & 60th St  11373
2                   Clinton St & Washington Blvd  10732
3                       Kingsbury St & Kinzie St   9808
4                              Clark St & Elm St   8716
...                                          ...    ...
1143        Public Rack - Houston Ave & 131st St      1
1144  Public Rack - Cottage Grove Ave & 111th St      1
1145      Public Rack - Linder Ave & Belmont Ave      1
1146                   Public Rack - Abbott Park      1
1147      Public Rack - McVicker Ave & Grand Ave      1

[1148 rows x 2 columns]

## Самые популярные маршруты

In [135]:
trip = df[["start_station_name", "end_station_name"]]

In [136]:
# Расчитаем количество повторений каждого маршрута
popular_trip = pd.DataFrame(trip[["start_station_name", "end_station_name"]].value_counts())

In [137]:
# Возвращаем индексы и переназываем столбцы
popular_trip = popular_trip.reset_index()
popular_trip.columns = ['start_name', 'stop_name', 'count']

popular_trip

                          start_name                     stop_name  count
0                Ellis Ave & 60th St      University Ave & 57th St   2022
1           University Ave & 57th St           Ellis Ave & 60th St   1921
2                Ellis Ave & 60th St           Ellis Ave & 55th St   1760
3                Ellis Ave & 55th St           Ellis Ave & 60th St   1660
4           Loomis St & Lexington St           Morgan St & Polk St    832
...                              ...                           ...    ...
65614  Michigan Ave & Ida B Wells Dr  Stockton Dr & Wrightwood Ave      1
65615      Claremont Ave & Hirsch St        Seeley Ave & Roscoe St      1
65616  Michigan Ave & Ida B Wells Dr            State St & 29th St      1
65617  Michigan Ave & Ida B Wells Dr            State St & 19th St      1
65618                Montrose Harbor           Clark St & Grace St      1

[65619 rows x 3 columns]